table{
    width: 100%;
    text-align: left;
}
a{
    text-decoration: none;
    color: rgb(84, 122, 245);
}
a:hover {
    color:rgb(53, 74, 144);
}
td, th{
    padding: 10px;
    border-bottom: 1px solid rgb(182, 182, 182);
}
tr:nth-child(even){
    background-color: rgb(231, 231, 231);
}
svg:not(:root).svg-inline--fa {
    color: rgb(79, 180, 248);
}
